<h1>All Pets For <%= @shelter.name %></h1>
<h3>Shelter Id: <%= @shelter.id %></h3>

<%= link_to 'Add New Pet', "/shelters/#{@shelter.id}/pets/new" %>
<br><br>
<% @shelter.pets.each do |pet| %>
  <img src ="<%= pet.image %>" alt="Dog Picture" style="width:500px;height:400px;"><br> <br>
  Name: <%= link_to "#{pet.name}", "/pets/#{pet.id}", method: :get %>
  <p>Description: <%= pet.description %></p>
  <p>Age: <%= pet.age %></p>
  <p>Sex: <%= pet.sex %></p>
  <p>Adoption Status: <%= pet.adoption_status %></p>
  <br>
<% end %>
