<center>
<% if session[:favorites] == [] %>
  <h1>You have no pets favorited!</h1>
<% else %>
  <h1>Your Favorite Pets</h1>
<% end %>

<h2><%= link_to "Adopt My Favorite Pets", "/applications/new" %></h2>
  <section class = "favoritepets">
    <% @pets.each do |pet| %>
      <section id = "favoritepet-<%=pet.id %>">
        <h3><%= link_to "#{pet.name}", "/pets/#{pet.id}" %> </h3>
        <br><br><br>
        <img src ="<%= pet.image %>" alt="Dog Picture" height="400", width="500">
        <br>
        <%= button_to "Remove Pet From Favorites", "/favorites/#{pet.id}", method: :delete %>
      </section>
    <% end %>
  </section>
  <br><br>

  <section>
  <h2>All Pet Applications</h2>
  <% @pending_pets.each do |pet| %>
      <%= link_to "#{pet.name}", "/pets/#{pet.id}" %> <br>
  <% end %>
  </section>

  <br><br><br>
  <%= link_to "Remove All Pets From Favorites", '/favorites', action: :remove_all, method: :delete %>
</center>
