<center>
<h1><%= link_to "#{@application.name}", "/applications/#{@application.id}"%></h1>
<p> Address: <%= @application.address %> </p>
<p> City: <%= @application.city %> </p>
<p> State: <%= @application.state %> </p>
<p> Zip: <%= @application.zip %> </p>
<p> Phone Number: <%= @application.phone_number %>
<p> Why: <%= @application.description_why%> <br> </p>

<%= form_tag "/applications/#{@application.id}/pets/approve_all", method: :patch do %>
  <% @application.pets.each do |pet| %>
    <section id="favorite-<%=pet.id%>">
      <%=link_to pet.name, "/pets/#{pet.id}" %>
      <% if pet.adoption_status != "Approved" %>
      <%= check_box_tag 'favorite_pets[]', pet.id %>
       <%= link_to "Approve", "/applications/#{@application.id}/pets/#{pet.id}/approve", method: :patch %>
       <% else %>
       <%= link_to "Unapprove", "/applications/#{@application.id}/pets/#{pet.id}/unapprove", method: :patch %>
      <% end %>
    </section>
  <% end %>
  <%= submit_tag "Approve All Checked" %>
<% end %>
</center>