<h1><%= @application.name %></h1>
<p> Address: <%= @application.address %> </p>
<p> City: <%= @application.city %> </p>
<p> State: <%= @application.state %> </p>
<p> Zip: <%= @application.zip %> </p>
<p> Phone Number: <%= @application.phone_number %>
<p> Why: <%= @application.description_why%> <br> </p>

