<h1>All Pets</h1>

<% @pets.each do |pet| %>
<p>
  <img src ="<%= pet.image %>" alt="Dog Picture" height="400", width="500"> <br>
  Name: <%= link_to "#{pet.name}", "/pets/#{pet.id}", method: :get %>
  <br>
  <%= "Description: #{pet.description}" %> <br>
  <%= "Age #{pet.age}" %> <br>
  <%= "Sex: #{pet.sex}" %> <br>
  Shelter Name: <%= link_to "#{pet.shelter.name}", "/shelters/#{pet.shelter.id}" %> <br><br>
  <%= link_to 'Update Pet', "/pets/#{pet.id}/edit" %>
  <br><br>
  <%= button_to 'Delete Pet', "/pets/#{pet.id}", method: :delete %>
  <br>
</p>
<% end %>
