<img src ="<%= @pet.image %>" alt="Dog Pi`cture" style="width:500px;height:400px;">
<h3>Name: <%= @pet.name %></h3>
<h3>Description: <%= @pet.description %></h3>
<h3>Age: <%= @pet.age %></h3>
<h3>Sex: <%= @pet.sex %></h3>
<h3>Shelter Name: <%= @pet.shelter.name %></h3>
<h3>Adoption Status: <%= @pet.adoption_status %> </h3>

<%= link_to 'Update Pet', "/pets/#{@pet.id}/edit" %>
<br><br><br>
<%= button_to 'Delete Pet', "/pets/#{@pet.id}", method: :delete %>
